#user  nobody;
worker_processes  1;

#error_log  logs/error.log;
#error_log  logs/error.log  notice;
#error_log  logs/error.log  info;

#pid        logs/nginx.pid;


events {
    worker_connections  1024;
}


stream {

    server {
        listen 8090;
        proxy_pass 10.0.28.183:22;
    }

    server {
        listen 26657;
        proxy_pass 10.0.28.183:26657;
    }
}

